/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* General */
*, *::after , *::before {
    font-family: 'Manrope', sans-serif;
}


/* Color */

:root {
    --blue-light: #00A3FF;
    --blue-dark: #0571BA;
    --cyn: #8365E1;
    --dark-background: #212429;
    --light-background: #2E3136;
}

